<div class="body">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Energyvise / Live-Dashbord</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>alarm</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon><a routerLink="/login" (click)="openDialog()">person_filled</a></mat-icon>
      </button>
    </mat-toolbar>
<div class="dropdown-feild">
  <div class="dropdown">
    <div><h3>Floor :</h3></div>
    <mat-form-field appearance="fill">
      <mat-label>Floor</mat-label>
      <mat-select >
        <mat-option>1</mat-option>
        <mat-option value="valid">2</mat-option>
        <mat-option value="invalid">3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="dropdown">
    <div><h3>Section :</h3></div>
    <mat-form-field appearance="fill">
      <mat-label>Section</mat-label>
      <mat-select >
        <mat-option>1</mat-option>
        <mat-option value="valid">2</mat-option>
        <mat-option value="invalid">3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="dropdown">
  <div><h3>View :</h3></div>
  <mat-form-field appearance="fill">
    <mat-label>View</mat-label>
    <mat-select >
      <mat-option>1</mat-option>
      <mat-option value="valid">2</mat-option>
      <mat-option value="invalid">3</mat-option>
    </mat-select>
  </mat-form-field>

  </div>
  <div class="dropdown">
    <div><h3>Meter :</h3></div>
    <mat-form-field appearance="fill">
      <mat-label>Meter</mat-label>
      <mat-select >
        <mat-option>Meter1</mat-option>
        <mat-option >Meter2</mat-option>
        <mat-option >Meter3</mat-option>
        <mat-option >Meter4</mat-option>
        <mat-option >Meter5</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="info-feild">
  <div class="info">ENERGY: <span>156,610 kWh</span></div>
  <div class="info">LAST UPDATED: <span>29/10/2022 11:00 PM</span></div>
  <div class="info">NEXT HOUR PREDEICTED ENERGY: <span>157,393.05 kWh</span></div>
</div>
<div class="parameter-feild">
  <div class="parameters">
    <h4>KEY PARAMETERS</h4>
    <ngx-gauge [type]="gaugeType1" 
               [value]="gaugeValue1" 
               [label]="gaugeLabel1" 
               [size]="gaugeSize1">
    </ngx-gauge>
    <ngx-gauge [type]="gaugeType2" 
               [value]="gaugeValue2" 
               [label]="gaugeLabel2"  
               [size]="gaugeSize2">
    </ngx-gauge>
    <ngx-gauge [type]="gaugeType3" 
               [value]="gaugeValue3" 
               [label]="gaugeLabel3"  
               [size]="gaugeSize3">
    </ngx-gauge>
    <ngx-gauge [type]="gaugeType4" 
               [value]="gaugeValue4" 
               [label]="gaugeLabel4"  
               [size]="gaugeSize4">
    </ngx-gauge>
    <ngx-gauge [type]="gaugeType5" 
               [value]="gaugeValue5" 
               [label]="gaugeLabel5"  
               [size]="gaugeSize5">
    </ngx-gauge>
    
  </div>
</div>
<div class="charts">
  <div class="chart1"><app-chart></app-chart></div>
  <div class="chart2"><app-chart1></app-chart1></div>
</div>
</div>